<div class="container text-center">
	<h2>All Pics</h2>

	
	{{#each pics}}
		<div class="picture center-block">
			<img class="img-responsive" src="images/{{src}}">
			<p>{{title}}</p>
		</div>
	{{/each}}

</div>